html {
    width: 100%;
    height: 100%;
}
body {
    background: #162232;
    background-size: cover;
    font-family: Arial;
    font-size: 20px;
}
.container-landing {
    text-align: center;
    margin: 10%;
}
.container-form-landing {
    margin: 5%;
}
.teaser-landing {
    line-height: 30pt;
    color: #8798ac;
    margin: 5%;
}
.logo {
    width: 350px;
}
.field-session {
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
    width: 220px;
    margin: 0 0 10px 0;
    background: linear-gradient(to right, #243141 0, #334152 100%);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
input:focus::placeholder {
    color: transparent;
}
.wrap-btn-action {
    margin: 0 auto;
    padding: 10px;
    line-height: 29px;
    width: 220px;
    display: block;
    background: linear-gradient(to right, #da7020 0, #ca5907 100%);
    transition: box-shadow 0.3s ease-in-out 0s;
    box-sizing: border-box;
    border-radius: 10px;
}
.wrap-btn-action:hover {
    box-shadow: 0 0 10px 0 rgba(217, 111, 31, 0.8);
}
.btn-action {
    font-size: 16px;
    border: 0;
    background: 0 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}
.startMatchmaking:not(.queued) .icon-action-load {
    display: none;
}
.icon-action-load {
    display: inline-block;
    background: url(assets/img/action-load.gif);
    width: 16px;
    height: 16px;
}
.status-offline {
    color: red;
}
.status-online {
    color: green;
}
